/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */
body{
justify-content: center;
background-color: rgb(0, 255, 191);
display: flex;
align-items: center;

}
main{
width: 1610px;
height: 900px;
background: #FFF;
display: grid;
grid-template-columns:repeat(20 ,1fr);
grid-template-rows: repeat(43 ,1fr);
gap: 20px;
padding:10px;

}


.caja1{

  background: #ac0b0b;
  grid-column:1/3 ;/* columna*/
  grid-row:1/7 ;/*fila*/
border-radius: 25%;

}

.caja2{
  grid-column:3/7;/* columna*/
  grid-row:1/7 ;/*fila*/
  background: #0bac20;
  border-radius: 25%;


}


.caja3{
  border-radius: 25%;
  grid-column:7/10 ;/* columna*/
  grid-row:1/7 ;/*fila*/
  background: #ac0b0b;

}

.caja4{
  border-radius: 25%;
  grid-column:10/14 ;/* columna*/
  grid-row:1/7 ;/*fila*/
  background: #ac0b0b;
}

.caja5{
  border-radius: 25%;
  grid-column:14/17 ;/* columna*/
  grid-row:1/7 ;/*fila*/
  background: #ac0b0b;

}

.caja6{
  border-radius: 25%;
  grid-column:17/21;/* columna*/
  grid-row:1/7 ;/*fila*/
  background: #ac0b0b;
}

.caja7{
  background: #ac0b0b;
  grid-column:1/3 ;/* columna*/
  grid-row:7/11 ;/*fila*/
border-radius: 25%;

}

.caja8{
  background: #ac0b0b;
  grid-column:3/5 ;/* columna*/
  grid-row:7/11;/*fila*/
  border-radius: 25%;
}


.caja9{

  background: #ac0b0b;
  grid-column:5/7 ;/* columna*/
  grid-row:7/11 ;/*fila*/
  border-radius: 25%;
}

.caja10{

  background: #ac0b0b;
  grid-column:5/7 ;/* columna*/
  grid-row:7/11 ;/*fila*/
  border-radius: 25%;
}


.caja11{

  
background: #ac0b0b;
  grid-column:7/15 ;/* columna*/
  grid-row:7/23 ;/*fila*/
  border-radius: 25%;
}
.caja12{
  grid-column:15/17 ;/* columna*/
  grid-row:8/16 ;/*fila*/
  border-radius: 25%;
  background: #ac0b0b;
}

.caja13{

  background: #ac0b0b;
  grid-column:17/21 ;/* columna*/
  grid-row:8/16 ;/*fila*/
  border-radius: 25%;
}
.caja14{

  background: #ac0b0b;
}
.caja15{

  background: #ac0b0b;

}
.caja16{
  background: #ac0b0b;
  
}
.caja17{

  
}
.caja18{

  
}
.caja19{

  
}.caja20{

  
}
*/