/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */
:root {
  /* Mode 1 */
  /* colors */
  --cyan: #211ea6;
  --gray: #efefef;
  --black:#000000;
}

/* ******************************** */
body{
  height: 100vh;

}
#container{
  
  display: flex;
justify-content: center;
align-items: center;

}
main{
width: 1610px;
height: 900px;
display: grid;
grid-template-columns:repeat(20 ,1fr);
grid-template-rows: repeat(43 ,1fr);
gap: 20px;


}

main div *{
transform: rotateY(180deg);
opacity: 30%;
}
main div:hover{
cursor:pointer;
box-shadow: 3px 3px 20px 0px rgb(0,0,0,0.30);
transform:rotateY(180deg);
transition: transform 2s cubic-bezier(0.68,-0.55,0.27,1.55), box-shadow 2s ease;


}
  main div:hover *{
    opacity: 80%;
    color: #000000;
transform: rotateY(180deg);
box-shadow: none;
    transition: transform 2s cubic-bezier(0.68,-0.55,0.27,1.55), box-shadow 2s ease, color 2s step-start 1s;
  }
  





.caja1{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
padding: 10px;
  background-color: var(--gray);
  grid-column:1/3 ;/* columna*/
  grid-row:1/7 ;/*fila*/
border-radius: 25px;
border: 1px solid var(--cyan);


}
.caja1 .p_1{
background: linear-gradient(270deg, #211EA6 42.39%, rgba(33, 30, 166, 0.00) 76.51%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 30px;
}



.caja2{
  display: flex;
flex-direction: column;
justify-content: end;
text-align: center;
background-image: url(../img/smartphone/ordenador.png);
background-repeat: no-repeat;
  grid-column:3/7;/* columna*/
  grid-row:1/7 ;/*fila*/
  background-color: var(--gray);
  border-radius: 25px;
  border: 1px solid var(--cyan);


}


.caja3{
  display: flex;
flex-direction: column;
justify-content: end;
text-align: center;
background-image: url(../img/smartphone/pantallitas.png);
background-repeat: no-repeat;
background-position: center;
  border-radius: 25px;
  grid-column:7/10 ;/* columna*/
  grid-row:1/7 ;/*fila*/
  background-color: var(--gray);
  border: 1px solid var(--cyan);

}

.caja4{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 25px;
  grid-column:10/14 ;/* columna*/
  grid-row:1/7 ;/*fila*/
  background-color: var(--gray);
  border: 1px solid var(--cyan);
}
.caja4 img{
 margin-left: 25%;
width: 40%;
height:60px;
}

.caja5{
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  border-radius: 25px;
  grid-column:14/17 ;/* columna*/
  grid-row:1/7 ;/*fila*/
  background-color: var(--gray);
  border: 1px solid var(--cyan);

}

.caja6{
  display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
  padding: 10px;
  border-radius: 25px;
  grid-column:17/21;/* columna*/
  grid-row:1/7 ;/*fila*/
  background-color: var(--gray);
  border: 1px solid var(--cyan);
}
.caja6 .p_6
{
  background: linear-gradient(271deg, #211EA6 -15.8%, rgba(33, 30, 166, 0.00) 123.87%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;

}

.caja7{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--gray);
  grid-column:1/3 ;/* columna*/
  grid-row:7/11 ;/*fila*/
border-radius: 25px;
border: 1px solid var(--cyan);

}
.caja7 .p_7{
  background: linear-gradient(270deg, #211EA6 42.39%, rgba(33, 30, 166, 0.00) 76.51%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-size: 15px;

}

.caja8{
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  background-color: var(--gray);
  grid-column:3/5 ;/* columna*/
  grid-row:7/11;/*fila*/
  border-radius: 25px;
  border: 1px solid var(--cyan);
  background-image: url(../img/smartphone/huella.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  
}



.caja10{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  text-align: center;
  align-items: center;
  background-image: url(../img/smartphone/wifi.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  background-color: var(--gray);
  grid-column:5/7 ;/* columna*/
  grid-row:7/11 ;/*fila*/
  border-radius: 25px;
  border: 1px solid var(--cyan);
  
}




.caja11{
background-color: var(--gray);
  grid-column:7/15 ;/* columna*/
  grid-row:7/23 ;/*fila*/
  border-radius: 25px;
  border: 1px solid var(--cyan);
 display: flex;
 justify-content: center;
 align-items: center;

}

.caja11:hover{
  transform: none;
}
.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 10px solid #333;
  border-radius: 50%;
  background-color: #252525;
}



.minute-hand {
  height: 90px;
  background-color: #555;
}

.second-hand {
  height: 50px;
  background-color: red;
}

.caja12{
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  grid-column:15/17 ;/* columna*/
  grid-row:8/16 ;/*fila*/
  border-radius: 25px;
  background-color: var(--gray);
  border: 1px solid var(--cyan);
}

.caja13{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
    padding: 10px;
  background-color: var(--gray);
  grid-column:17/21 ;/* columna*/
  grid-row:8/16 ;/*fila*/
  border-radius: 25px;
  border: 1px solid var(--cyan);
}
.caja13 .p_13{
font-size: 35px;
background: linear-gradient(271deg, rgba(160, 13, 57, 0.33) 42.2%, #9B5AA6 81.33%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.caja14{
  background-image:url(../img/smartphone/foto_mac.png);
  grid-column:1/7 ;/* columna*/
  grid-row:11/18 ;/*fila*/
  border-radius: 25px;
  background-color: var(--gray);
  border: 1px solid var(--cyan);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}
.caja15{
  background-image: url(../img/smartphone/mac_1.png);
  grid-column:15/21 ;/* columna*/
  grid-row:16/30 ;/*fila*/
  background-color: var(--gray);
  border-radius: 25px;
  border: 1px solid var(--cyan);
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
  

}
.caja16{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--gray);
  grid-column:1/4;/* columna*/
  grid-row:18/23;/*fila*/
  border-radius:25px;
  border: 1px solid var(--cyan);
  
}

.caja16 p{
  background: linear-gradient(107deg, rgba(46, 127, 161, 0.73) 5.33%, rgba(207, 52, 80, 0.54) 82.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.caja17{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  background-color: var(--gray);
  grid-column:4/7;/* columna*/
  grid-row:18/23;/*fila*/
  border-radius:25px;
  border: 1px solid var(--cyan);
  
}
.caja17 .p_17{
  background: linear-gradient(282deg, rgba(59, 17, 225, 0.42) 21.34%, rgba(155, 90, 166, 0.67) 51.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;

}
.caja18{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  background-color: var(--gray);
  grid-column:1/5;/* columna*/
  grid-row:23/30;/*fila*/
  border-radius:25px;
  border: 1px solid var(--cyan);
  
}
.caja18 p{
font-size: 15px;

}
.caja18 .p_18{
font-size:35px;
background: linear-gradient(282deg, rgba(59, 17, 225, 0.42) 21.34%, rgba(155, 90, 166, 0.67) 51.11%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.caja19{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  background-color: var(--gray);
  grid-column:5/7;/* columna*/
  grid-row:23/30;/*fila*/
  border-radius:25px;
  border: 1px solid var(--cyan);
  
}
.caja19 p{
background: linear-gradient(268deg, rgba(59, 17, 225, 0.42) 1.15%, rgba(155, 90, 166, 0.67) 74.95%, rgba(155, 90, 166, 0.67) 107.6%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.caja20{
  background-color: var(--gray);
  grid-column:7/12;/* columna*/
  grid-row:23/30;/*fila*/
  border-radius:25px;
  border: 1px solid var(--cyan);
  
}
.caja21{
  background-color: var(--gray);
  grid-column:12/15;/* columna*/
  grid-row:23/30;/*fila*/
  border-radius:25px;
  border: 1px solid var(--cyan);
  
}
